@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/static/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

li {
  list-style-type: none;
}

button, .btn-container {
  font-family: "Poppins";
  padding: 10px 25px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 200px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(240, 238, 238);
  background: rgb(0, 0, 0);
}
button:hover, .btn-container:hover {
  cursor: pointer;
  color: rgb(0, 0, 0);
  background: rgb(240, 238, 238);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header {
  background: url(/assets/img/bg-slider-06.jpg) center/cover;
  height: 900px;
  color: rgb(230, 230, 230);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  margin: 0 auto;
}
.nav .icon {
  font-family: "Allura";
  font-size: 2rem;
  color: rgb(163, 94, 29);
}
.nav .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  text-transform: uppercase;
}
.nav .navbar li {
  margin-right: 50px;
  font-size: 0.75rem;
}
.nav .navbar li:hover {
  cursor: pointer;
  color: rgb(163, 94, 29);
}
.nav .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .social li {
  margin-right: 20px;
}
.nav .social li:hover {
  cursor: pointer;
  color: rgb(163, 94, 29);
}

.header .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 700px;
  gap: 80px;
}
.header .main .color {
  display: block;
  margin-left: 50px;
  text-transform: none;
  font-family: "Allura";
  font-size: 4rem;
  font-weight: 400;
  color: rgb(163, 94, 29);
}
.header .main .text {
  margin-bottom: 90px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 4rem;
  letter-spacing: 5px;
}
.header .main p {
  font-family: "Roboto";
  letter-spacing: 10px;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */