@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

li {
  list-style-type: none;
}

button, .btn-container {
  font-family: "Poppins";
  padding: 10px 25px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 200px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(240, 238, 238);
  background: rgb(0, 0, 0);
}
button:hover, .btn-container:hover {
  cursor: pointer;
  color: rgb(163, 94, 29);
  border-color: rgb(163, 94, 29);
  background: white;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header {
  height: 100vh;
  background: url(/assets/img/bg-slider-06.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(230, 230, 230);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 70%;
  margin: 0 auto;
  padding-top: 15px;
}
.nav .icon {
  font-family: "Allura";
  font-size: 2rem;
  color: rgb(230, 230, 230);
  margin-right: 50px;
}
.nav .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-size: 0.5rem;
  text-transform: uppercase;
}
.nav .navbar li {
  margin: 0 20px 0 55px;
  font-size: 0.75rem;
}
.nav .navbar li:hover {
  cursor: pointer;
  color: rgb(163, 94, 29);
}
.nav .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .social li {
  margin-right: 20px;
}
.nav .social li:hover {
  cursor: pointer;
  color: rgb(163, 94, 29);
}

.header .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 220px;
}
.header .main .color {
  display: block;
  text-align: center;
  text-transform: none;
  font-family: "Allura";
  font-weight: 400;
  color: rgb(163, 94, 29);
  margin: 5px 50px;
  height: 40px;
  font-size: 3rem;
}
.header .main .text {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
  margin: 0;
  letter-spacing: 10px;
  font-size: 3rem;
}
.header .main img {
  margin: 50px 0;
}
.header .main p {
  font-family: "Roboto";
  letter-spacing: 10px;
  text-transform: uppercase;
}

.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.section1 .content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px dashed rgb(163, 94, 29);
  margin: 10px;
}
.section1 .content1 .title1 .color {
  display: block;
  text-align: center;
  text-transform: none;
  font-family: "Allura";
  font-weight: 400;
  color: rgb(163, 94, 29);
  height: 30px;
  font-size: 2rem;
}
.section1 .content1 .title1 .text {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: 700;
  margin: 0;
  font-size: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section1 .content1 .p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  width: 90%;
}
.section1 .content1 img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
.section1 .content1 .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section1 .content1 .img p .chef {
  font-family: Poppins, serif, sans-serif;
  color: rgb(20, 20, 20);
  font-size: 16px;
}
.section1 .content1 .img p .rank {
  font-family: Poppins, serif;
  font-size: 12px;
  text-transform: uppercase;
  color: grey;
  letter-spacing: 1px;
}
.section1 .content2 img {
  display: block;
  width: 100%;
}

.section2 {
  background: rgb(40, 40, 40);
  color: rgb(240, 238, 238);
}
.section2 .content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section2 .content2 .title2 {
  display: block;
  text-align: center;
  text-transform: none;
  font-family: "Allura";
  font-weight: 400;
  color: rgb(163, 94, 29);
  font-size: 1.25rem;
  margin: 60px 0 40px;
}
.section2 .content2 .img {
  margin-bottom: 30px;
}
.section2 .content2 .list {
  width: 50%;
  padding: 20px 0 30px 0;
}
.section2 .content2 .list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin: 0;
  padding: 0;
}
.section2 .content2 .list ul li a {
  font-family: Poppins, serif;
  font-weight: 100;
  text-decoration: none;
  color: rgb(230, 230, 230);
  font-size: 16px;
  position: relative;
  padding-bottom: 5px;
}
.section2 .content2 .list ul li a:hover {
  cursor: pointer;
  color: rgb(163, 94, 29);
}
.section2 .content2 .list ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.75px;
  width: 100%;
  background-color: rgb(230, 230, 230);
}

.menu {
  background: rgb(230, 230, 230);
  display: grid;
  grid-template-columns: 1fr 1fr; /* deux colonnes */
  gap: 30px 50px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: Poppins, serif, sans-serif;
}
.menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 20px;
  gap: 20px;
}
.menu .menu-item img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu .item-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.menu .item-info h4 {
  color: rgb(40, 40, 40);
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .item-info .price {
  color: #b87d32;
  font-weight: bold;
  margin-left: 15px;
}
.menu .item-info p {
  font-size: 13px;
  color: #777;
  margin: 5px 0 0;
}
.menu .menu {
  display: grid;
  grid-template-columns: 1fr 1fr; /* deux colonnes */
  gap: 30px 50px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: Arial, sans-serif;
}
.menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 20px;
  gap: 20px;
}
.menu .menu-item img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.menu .item-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.menu .item-info h4 {
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .item-info .price {
  color: #b87d32;
  font-weight: bold;
  margin-left: 15px;
}
.menu .item-info p {
  font-size: 13px;
  color: #777;
  margin: 5px 0 0;
}

.section3 {
  display: grid;
  grid-template-columns: 30% 70%;
  font-family: Poppins, serif;
  font-weight: 100;
  margin: 0 auto;
  padding: 100px 0 100px;
  width: 90%;
}
.section3 .content3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 1px dashed rgb(230, 230, 230);
  padding: 50px;
  height: 550px;
  background: black;
  color: rgb(230, 230, 230);
}
.section3 .title h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 1rem;
}
.section3 .title span {
  display: block;
  text-align: center;
  text-transform: none;
  font-family: "Allura";
  font-weight: 400;
  color: rgb(163, 94, 29);
  font-size: 2rem;
  height: 25px;
}
.section3 .title strong {
  letter-spacing: 5px;
}
.section3 .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}
.section3 .infos h3, .section3 .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: rgb(163, 94, 29);
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 100;
}

.form .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */