// HEADER  
.header {
    height: 730px;
    width: auto;
    background: url(/assets/img/bg-slider-06.jpg) top center; 
    background-size: contain;
    background-repeat: no-repeat;
    color: $white;
}

// NAV
.nav {
    @include spacechild;
    max-width: 70%;
    margin: 0 auto;
    padding-top: 15px;

    .icon {
        font-family: "Allura";
        font-size: 2rem;
        color: $white;
        margin-right: 50px
    }

    .navbar {
        ul {
            @include centerchild;
            font-family: "Roboto";
            font-size: 0.5rem;
            text-transform: uppercase;   
        }
        li {
            margin: 0 20px 0 55px;
            font-size: 0.75rem;

            &:hover {
                cursor: pointer;
                color: $orange;
            }
        }
    }
    
    .social {
      ul {
        @include centerchild;
      }
      li {
        margin-right: 20px;

        &:hover {
          cursor: pointer;
          color: $orange;
        }
      }
    }
}

.header {
  .main {
    @include columnchild;
    margin-top: 160px;

    .color {
      @include color;
      margin: 5px 50px;
      height: 40px;
      font-size: 3rem;
    }
    .text {
      @include text;
      letter-spacing: 10px;
      font-size: 3rem;
    }
    img {
      margin: 30px 0;
    }
    p {
      font-family: "Roboto";
      letter-spacing: 4px;
      text-transform: uppercase;
    }
  }
}