// CONTENT 3 
.section3 {
    display: grid;
    grid-template-columns: 30% 70%;
    font-family: $font2;
    font-weight: 100;
    margin: 0 auto;
    padding: 100px 0 100px;
    width: 90%;

    .content3 {
      @include columnchild;
      text-align: center;
      border: 1px dashed $white;      
      padding: 50px;
      height: 550px;
      background: black;
      color: $white;
    }

    .title {
      h3 {
        @include columnchild;
        text-transform: uppercase;
        margin-top: 20px;
        font-size: 1rem;
      }
      span {
        @include color;
        font-size: 2rem; 
        height: 25px;
      }
      strong {
        letter-spacing: 5px;
      }
    }

    .img {
      @include centerchild; 
      margin: 20px 0;
    }

    .infos h3, .phone {
      @include centerchild;
      text-transform: uppercase;
      color: $orange;
      margin-top: 20px;
      margin-bottom: 15px;
      font-weight: 100;
      
    }
  }

// FORMULAIRE 
.form {
  .title {
    @include centerchild;
    text-transform: uppercase;
    margin-top: 90px; 
  }
  .img {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  form {
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "i1 i2 i3"
    "i4 i5 i6";

    input, select {
      width: 70%;             
      margin: 0 auto; 
      background-color: #f7f7f7; 
      padding: 0.8rem 1rem;
      border: none;
      border-bottom: 1px solid #ccc;
      background: transparent;
      font-size: 1rem;
    }
    input[type="date"], 
    input[type="time"] {
      cursor: pointer;
    }
    input:focus,
    select:focus {
      outline: none;
      border-color: #000;
    }
  }
  .btn-container {
    @include centerchild;
    padding: 0.9rem 2rem;
  }
}